<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheBus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>watchDaBus (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>watchDaBus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD72C2241DCFD675007D0E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDEA470C1DCBE0660011F604</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDEA47221DCBE0660011F604</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDEA472D1DCBE0660011F604</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
